  {% extends 'base.html.twig' %}
  
  {% block body %}
  <h2> Bienvenue sur ce site </h2>
  <p> J'ai commencé à développer ce site le 15/01/2022. </p>
  <p> Ce site vous permet donc de voir une liste de manga / animé. Vous pouvez ajouter de nouveaux mangas / animés (s'il exite). Bien sur, une vérification de l'autenticité du manga / animé sera fait grâce à l'API "https://nautiljon.api.barthofu.com/"</p>
  <p> Je n'ai pas énormément travaillé sur le partie design du site car je prefere donner de mon temps au développement du back-end </p>
  {% endblock %}